<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section })">
    <head>
        
        <title></title>
    </head>
    <body>
       
       
    <section class="banner d-flex justify-content-center align align-items-center">
        <div>
        <h1 font-weight:"bold">Smart Contact Manager </h1>
        <p> Start Collecting Your contacts in very smarter way.We provide very efficient and smarter way of handling contacts.</p>
        <button class="btn bg-primary btn -lg text-white">Get Started</button>
    </div>    
    </section>
        <script src="" async defer></script>
    </body>
</html>